{% extends 'base.html' %}

{% block head %} 
    <title>Login Page</title>
{% endblock %}

{% block body %} 
    <div class="wrapper">
        
        <div class="container">
            <h1 class = " tabs"> Inteliproctor </h1>
            <div class="tabs">
                <h1> Student </h1>
            </div>
            
            <div id="studentTab" class="tab-content active">
                <form action="/studentlogin" method="POST">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <p class="alert alert-{{ category }}">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="text" id="login_username" name="rollno" placeholder="Roll Number">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" id="login_password" name="password" placeholder="Password">
                    </div>
                    <button type="submit">Sign in</button>
                </form>
            </div>
            

            <br>

            <div class="tabs">
                <h1> Teacher </h1>
            </div>
            <div id="teacherTab" class="tab-content active">
                <form action="/teacherlogin" method="POST">
                    {%  if  error %}
                    <p> Error : {{error}}</p>
                    {% endif %}
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="text" id="login_username" name="username" placeholder="Teachername">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" id="login_password" name="password" placeholder="Password">
                    </div>
                    <button type="submit">Sign in</button>
                </form>
            </div>
            
        </div>
    </div>
{% endblock %}
