<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Update Student data</h1>
        <form id="addStudentForm" action="/update/{{ student.rollno }}" method="post">
            <input type="text" name="name" value="{{ student.name }}" required>
            <input type="text" name="password" value="{{ student.password }}" required>
            <select name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <button type="submit">Add Student</button>
        </form>
    </div>
</body>
</html>
